<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Transaction Id</th>
      <th scope="col">Transaction Status</th>
      <th scope="col">Transaction Date</th>
      <th scope="col">Transaction Method</th>
      <th scope="col">Counterparties</th>
      <th scope="col">Amount Of Transaction</th>
      <th scope="col">AccountId</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tran of transaction">
      <th scope="row">#</th>
      <td>{{ tran.transactionId }}</td>
      <td>{{ tran.trsansactionStatus }}</td>
      <td>{{ tran.transactionType }}</td>
      <td>{{ tran.transactionDate }}</td>
      <td>{{ tran.transactionMethod }}</td>
      <td>{{ tran.counterparties }}</td>
      <td>{{ tran.amountOfTransaction }}</td>
      <td>{{ tran.accountId }}</td>
    </tr>
  </tbody>
</table> -->
